/* TELEGRAM BOT API */
API_KEY_BOT="SECRET_KEY"
API_ADMIN_KEY_BOT_ADMIN="ADMIN_SECRET_KEY"

/* DATABASE CONFIGS */
DB_HOST="localhost"
DB_PORT="5432"
DB_DATABASE="database"
DB_USER="user"
DB_PASSWORD="1234"

